//variables
$border-radius: 0.2em;
$dark-border-color: #625f5f;
$light-border-color: #D1D1D1;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

