@use "./styles/base" as b;

.chat-container {
    width: 94%;
    min-height: 98vh;
    /* max-height: 98vh; */
    margin: 0.4em;
    border: 1px solid b.$light-border-color;
    border-radius: b.$border-radius;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    flex-direction:column;
    line-height: 1.3;
    gap: 0.25em;
    background: rgba($color: #b2daaf, $alpha: 0.11);
}
